.title-infoaviso {

  background-color: #153535;
  margin-top: 25px;
  -webkit-box-shadow: 6px 7px 5px -5px rgba(201,201,201,1);
  -moz-box-shadow: 6px 7px 5px -5px rgba(201,201,201,1);
  box-shadow: 6px 7px 5px -5px rgba(201,201,201,1);

}

.title-infoaviso p {

  color: #fff;
  font-weight: 300;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}


.mascota-img-aviso {

  margin-top: 22px;
}

.tabla-info {

  margin-top: 23px;
}

.tabla-info caption{

  color: #fff;
  background-color: #000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 12px 0;
}

.local-aviso {

  margin-top: 22px;
}

.local-aviso p.title{

  font-size: 20px;
  font-weight: bold;
}

form .btn-comentarios {

  margin-top: 20px
}
